<section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row position-relative">
            <div class="col-lg-7 about-img" style="display=flex">
                <img src="https://www.ideasoft.com.tr/wp-content/uploads/2021/09/blog-e1630478773246.jpg" alt="Image Description">
            </div>

            <div class="col-lg-5">
                <h2>About Us</h2>
                <div class="our-story">
                    <h4>Est. 2023</h4>
                    <h3>Our Story</h3>
                    <p>
                        Hello, and welcome to our "About Us" page! Here, we'd like to share a bit about ourselves. We are Gurme Software, a dynamic software company managed by a team filled with knowledge and experience.
                    </p>
                    <p>
                        <strong>Our Mission</strong>
                        Our mission is to provide solutions that protect people's lives and reduce business usage. With our belief in the power of technology, we aim to meet their demands by offering value-added software solutions.
                    </p>
                    <p>
                        <strong>Our Vision</strong>
                        Our vision is realized by continuously tracking and developing trends in the technology world, tailored to data processing requirements. We aspire to change lives and contribute to financial success by creating software through our creativity and skills.
                    </p>
                    <p>
                        <strong>Our Team</strong>
                        Gurme Software is managed by a team of storage software engineers, caregivers, and project managers. Our team members are professionals who keep up with the latest industry developments and continuously enhance our technical specifications. With a strong emphasis on collaboration and communication, the team aims to maintain the highest level of customer visits.
                    </p>
                    <p>
                        <strong>Our Values</strong>
                        The core values of our company include adhering to ethical principles, prioritizing customer visits, and ensuring quality work.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team" class="team">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-header">
            <h2>Our Team</h2>
            <p></p>
        </div>
        <div class="row gy-5">
            <div class="col-lg-4 col-md-6 member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="member-info text-center">
                    <h4>Esma Sude Karakuş</h4>
                    <span>Full Stack Developer</span>
                    <p></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 member aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="member-info text-center">
                    <h4>Tarık Buğra Kaya</h4>
                    <span>Full Stack Developer</span>
                    <p></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="member-info text-center">
                    <h4>Reyhan Çiğdem</h4>
                    <span>Frontend Developer</span>
                    <p></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="member-info text-center">
                    <h4>Harun Azizoğlu</h4>
                    <span>Full Stack Developer</span>
                    <p></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="member-info text-center">
                    <h4>Shohzod Irgas</h4>
                    <span>Full Stack Developer</span>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/about.js" asp-append-version="true"></script>

