@model CreateArticleVM

<form class="form-group" asp-action="AddArticle" method="post">

    <label asp-for="Title" class="form-control">Title</label>
    <input type="text" asp-for="ReadingTime" class="form-control" />
    <label asp-for="ReadingTime" class="form-control">Reading Time</label>
    <input asp-for="ReadingTime" class="form-control" />
    <label asp-for="AuthorId" class="form-control">Author Id</label>
    <input asp-for="AuthorId" class="form-control" value="@Model.AuthorId" readonly>School</input>

    <select asp-for="SubjectId" asp-items="@(new SelectList(Model.Subjects, "Id", "Name"))" class="form-control">
        <option value="">Select a subject</option>
    </select>
    <button type="submit" class="btn btn-secondary">Save</button>

</form>